/* Styles entire body */
body {
  margin: 0;
  padding: 0;
  background-color: #d0d0d0;
}

html {
  font-family: "MODERN TYPEWRITER", sans-serif;
}

header {
  background-color: #000000;
  padding: 10px;
}

header ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

nav a {
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 12px;
  color: white;
  padding: 20px;
}

nav a:hover {
  color: gray;
}

/* Styling opening page */
#opening-page {
  background-image: url("/images/main.png");
  background-size: cover;
  letter-spacing: 2px;
  color: white;

  /* formating to fit full screen and aligning text */
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#open-page, h1 {
  color: #ffffff;
  font-size: 30px;
  background: rgba(0, 0, 0, 0.528);
  padding: 20px;
}

#lol {
  color: rgb(221, 221, 221);
}

#lo {
  color: rgb(216, 216, 216);
  
}

#opening-page p{
  background: rgba(0, 0, 0, 0.676);
  padding: 20px;
}

#how_to_know {
  width: 100vw;
  height: 100vh;
  padding-bottom: 300px;
}

#how_to_know h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin-top: 100px;
}

#how_to_know p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-container {
  display: flex;
  justify-content: space-between;
}
.card img {
  max-width: 100%;
}
.card {
  width: 50%;
  padding: 20px;
  margin: 70px;
  background-color: #424242;
  border: rgb(8, 8, 8) solid 20px;
}

#faq_and_support {
  background: white;
  padding: 50px;
}

footer {
  background-color: white;
  padding: 20px;
}