body {
    margin: 0;
    padding: 0;
    background-color: rgb(215, 208, 208);
  }

  html {
    font-family: "MODERN TYPEWRITER", sans-serif;
  }

  header {
    background-color: #000000;
    padding: 10px;
  }
  
  header ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  nav a {
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 12px;
    color: white;
    padding: 20px;
  } 
  
  nav a:hover {
    color: gray;
  } 

main section {
    padding: 1rem;
    background-color: #fff;
    margin-bottom: 2rem;
    border-radius: 5px;
}
  
  .calculator {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    background-color: #333;
    color: #fff;
  }
  
  .calculator h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .calculator form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .calculator label {
    display: inline-block;
    width: 100%;
    max-width: 200px;
  }
  
  .calculator input[type="number"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #f1f1f1;
  }
  
  .calculator button[type="button"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #0070c0;
    color: #fff;
    cursor: pointer;
  }
  
  .calculator button[type="button"]:hover {
    background-color: #005ea7;
  }
  
  .calculator .result {
    margin-top: 20px;
  }
  
  .calculator .result label {
    display: inline-block;
    width: 200px;
  }
  
  .calculator .result input[type="text"] {
    width: calc(100% - 200px);
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #f1f1f1;
  }
  
  .calculator .result input[type="text"]:read-only {
    background-color: #ccc;
    color: #333;
  }
  
